h2{
    align-content: center;
}

.card{
    background-color: beige;
    border: 2px solid black;
    height: fit-content;
    width: fit-content;

}
.user{
    font-style: italic;
}

body {
background-color: beige;
  
}
